extends layout

block content
    div.row.hide
        label(for='username' class='text-center center-block')='please enter one user name!'
        input(id='username' name='username' class='text-center center-block form-control col-sm-4')
        button(id='login' type='submit' class='btn center-block')='login'
    //canvas(id='gameArea' class='center-block' style={ border: '1px solid #000'})
    div#screen.row
    script(src="http://10.72.2.29:3000/javascripts/b-game.js")