extends layout

block content
    div.row
        label(for='username' class='text-center center-block')='please enter one user name!'
        input(id='username' name='username' class='text-center center-block')
        button(id='login' type='submit' class='btn center-block')='login'
    canvas(id='gameArea' style={ margin: 'auto', display: 'block',border: '1px solid #000',display: 'none'})
    script(src="javascripts/b-game.js")